.Weather {
  border: 1px solid #a9bff2;
  border-radius: 5px;
  padding: 16px;
  line-height: 29px;
  box-shadow: rgba(97, 97, 153, 0.2) 0px 7px 29px 0px;
}
.Weather img {
  height: 100px;
  width: 100px;
}
.Weather .WeatherForecast-icon .icon {
  height: 64px;
  width: 64px;
}
.Weather h1 {
  margin: 20px 0 0 0;
}
.Weather .temperature {
  font-weight: bold;
  color: rgb(33, 33, 33);
  font-size: 64px;
  line-height: 64px;
  display: inline-block;
  margin-left: 0;
  font-weight: 400;
}
.Weather .unit {
  color: rgb(33, 33, 33);
  font-size: 16px;
  font-weight: 400;
  position: relative;
  line-height: 1;
  top: -34px;
}
.Weather ul {
  padding: 0;
  margin: 0;
}
.Weather li {
  list-style: none;
  padding: 0;
}
